
.head-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    background-color: rgb(255, 255, 255);

}

.central-title {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 60%;
    height: 120px;

    font-family: Georgia, serif;
    font-style: italic;
    font-weight: bold;
    color: rgb(83, 83, 83);
    font-size: 1.6rem;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.2);
}

.left-logo {
    width: 20%;
    align-items: center;
    justify-content: center;
    display: flex;

}

.right-home {
    width: 20%;

    align-items: center;
    justify-content: center;
    display: flex;

}

.logo {
    width: 80px;
    height: 80px;
    background-image: url("../static/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.title {
    text-align: left;
    width: 100px;
    font-family: Georgia, serif;
    font-style: italic;
    font-weight: bold;
    color: rgb(83, 83, 83);
    font-size: 1.4rem;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.2);
}

.botton-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.review-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}



.input-form {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: 0.2s;
}

.input-form:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 6px rgba(74,144,226,0.4);
}



.but-form {
    padding: 10px 20px;
    border: 1px solid #333;
    background: transparent;
    color: #333;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s;
}

.but-form:hover {
    background: #333;
    color: #fff;
}