
.head-menu {
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 120px;
    /* margin-bottom: 50px; */
    padding: 20px;
    padding-left: 300px;
    padding-right: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.down-menu {
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 120px;
    /* margin-bottom: 50px; */
    padding: 20px;
    padding-left: 300px;
    padding-right: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);

    font-family: "Arial Black", Arial, sans-serif;
    font-weight: bold;
    color: rgb(83, 83, 83);
    font-size: 1.1rem;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.2);
}

.main-menu {
    width: 1150px;
    height: 100%;
    /* padding: 20px; */

}

.logo {
    width: 80px;
    height: 80px;
    background-image: url("../static/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.facebook-logo {
    padding: 20px;
    width: 30px;
    height: 30px;
    background-image: url("../static/facebook.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.cart {
    width: 30px;
    height: 30px;
    background-image: url("../static/cart.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
}

.title-cart {
    text-align: left;
    width: 80px;

}
.item-title {
    text-align: center;
}

.title-cart-fa {
    text-align: left;
    width: 300px;
}

.title {
    text-align: left;
    width: 70%;
    font-family: Georgia, serif;
    font-style: italic;
    font-weight: bold;
    color: rgb(83, 83, 83);
    font-size: 1.4rem;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    
}

.head-link {
    font-size: 1.4rem;

}

.collection-logo {
    width: 800px;
    height: 400px;
    background-image: url("../static/collection-photo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.block-logo {
    width: 10%;

}

/* .out-col {
    width: 100%;
    height: 400px;
} */

a {
    margin-left: 20px;
    margin-right: 20px;
}

.outer-text {
    font-family: "Arial Black", Arial, sans-serif;
    font-weight: bold;
    color: rgb(83, 83, 83);
    font-size: 1.4rem;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    padding-bottom: 30px;
}

.but-form {
    padding: 10px 20px;
    border: 1px solid #333;
    background: transparent;
    color: #333;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s;
    margin-top: 10px;
}
.last-record {
    height: 100px;
}

.but-form:hover {
    background: #333;
    color: #fff;
}

.outer-text-down {
    font-family: "Arial Black", Arial, sans-serif;
    font-weight: bold;
    color: rgb(83, 83, 83);
    font-size: 1.4rem;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    padding: 30px;
    text-align: center;
}

.inner-text {
    text-align: justify;
    font-family: Arial, sans-serif;
    color: rgb(83, 83, 83);
    font-size: 1.4rem;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    padding-bottom: 60px;
}


.photo-1 {
    width: 400px;
    height: 400px;
    background-image: url("../static/1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.photo-2 {
    width: 400px;
    height: 400px;
    background-image: url("../static/2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.photo-3 {
    width: 400px;
    height: 400px;
    background-image: url("../static/3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}